<?xml version="1.0"?>
<configuration>
    <connectionStrings>
      <add name="DefaultConnection" connectionString="Data Source=(LocalDb)\v11.0;Initial Catalog=aspnet-MvcTEST-20130319122707;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\aspnet-MvcTEST-20130319122707.mdf" providerName="System.Data.SqlClient"/>
      <add name="SpeedCourtConfigDbEntities" connectionString="metadata=res://*/Models.Model1.csdl|res://*/Models.Model1.ssdl|res://*/Models.Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ANTARES;initial catalog=GlobalSpeed;persist security info=True;user id=sa;password=Komjuniti$;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
</configuration>
